

p.p1 a input.p11
{
    position:absolute; left:40%;   padding:5px ;   height: 15px;   font-size: 10px;   top:25px; 
           
}
p.p1 a input.p12
{
    position:absolute; left:40%;   padding:5px ;   height: 15px;   font-size: 10px;   top:42px;       
}

p.p2 a input.p21
{
    position:absolute; left:40%;   padding:5px ;   height: 15px;   font-size: 10px;   top:15px; 
           
}
p.p2 a input.p22
{
    position:absolute; left:40%;   padding:5px ;   height: 15px;   font-size: 10px;   top:32px;       
}



p.p3 a input.p31
{
    position:absolute; left:40%;   padding:5px ;   height: 15px;   font-size: 10px;   top:-10px;           
}
p.p3 a input.p32
{
    position:absolute; left:40%;   padding:5px ;   height: 15px;   font-size: 10px;   top:7px;       
}



p.p4 a input.p41
{
    position:absolute; left:40%;   padding:5px ;   height: 15px;   font-size: 10px;   top:-10px;           
}
p.p4 a input.p42
{
    position:absolute; left:40%;   padding:5px ;   height: 15px;   font-size: 10px;   top:7px;       
}



p.p5 a input.p51
{
    position:absolute; left:40%;   padding:5px ;   height: 15px;   font-size: 10px;   top:-10px;           
}
p.p5 a input.p52
{
    position:absolute; left:40%;   padding:5px ;   height: 15px;   font-size: 10px;   top:7px;       
}



p.p6 a input.p61
{
    position:absolute; left:40%;   padding:5px ;   height: 15px;   font-size: 10px;   top:-10px;           
}
p.p6 a input.p62
{
    position:absolute; left:40%;   padding:5px ;   height: 15px;   font-size: 10px;   top:7px;       
}



p.p7 a input.p71
{
    position:absolute; left:40%;   padding:5px ;   height: 15px;   font-size: 10px;   top:-10px;            
}
p.p7 a input.p72
{
    position:absolute; left:40%;   padding:5px ;   height: 15px;   font-size: 10px;   top:7px;       
}



p.p8 a input.p81
{
    position:absolute; left:40%;   padding:5px ;   height: 15px;   font-size: 10px;   top:-10px;           
}
p.p8 a input.p82
{
    position:absolute; left:40%;   padding:5px ;   height: 15px;   font-size: 10px;   top:7px;       
}

input 
{
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -khtml-border-radius:2px;
    width:100px; 
    font-size: 1px;
    
}


.nouveaudocument , .listdocument 
{ 
    display:block; 
    float:left; 
    margin-left:20px; /*  margin-left:20px; */
}


input#nouveaudocument:hover , #listdocument:hover  { 
    color:green ; 
    padding-top:1%; padding-bottom:1%; 
    background-color: #cdbe7f;  position:absolute; 
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -khtml-border-radius:2px;
    
    box-shadow:
        0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
        0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}