/************************************************************************************ 
HAUTEUR Lenovo L450 = 625 px
LARGEUR Lenovo L450 = 1366 px

Couleurs utilisées:

- peru et silver(pour les BD)
- #cdbe9f et #e5eecc(pour les background-color)
- si ces ne ressortent pas les caracteres blancs: Utliser background-color: #99993F;
___________________________________________________
Les préfixes vendeurs
-o- pour Opera
-moz- pour Gecko (Mozilla)
-webkit- pour Webkit (Chrome, Safari, Android...)
-ms- pour Microsoft (Internet Explorer)
-khtml- pour KHTML (Konqueror)
  
*************************************************************************************/
*
{
	margin: 0px; 
	padding:0px;
	
}
body
{
	background:#e2f6ff url('images/fond.jpg') center top no-repeat;
	padding-left:5%;
	padding-right:5%;
	font-style: italic;
	font-family: "Times New Roman", Georgia, Serif;
}
body  table tr td  div input
{
	border: 0px  #cf3fc3 dotted;
	font-style: italic;
	font-size: 15px;
	font-family: "Times New Roman", Georgia, Serif;
	color:#00004d;
}



body  table tr td  input
{
	border: 0px  #cf3fc3 dotted; 
			 
	font-style: italic;
	font-size: 15px;
	font-family: "Times New Roman", Georgia, Serif;
	color:#000066;
}


}
.clean { clear:both; }
.left { text-align:left; }


label
{
	width:200px;
	display:inline-block;
	vertical-align:top;
	text-align:left;
}
table
{
	border-spacing:0px;
	background:#ffffff;
	
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	padding:0px;

	width:95%;
	margin:5px auto 5px auto;
}
tr
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin:0px;
}
td, th
{
	margin:0px;
	border:0px;
	padding:3px;
	text-align:center;
}
a  { text-align:right; text-decoration: none; }

th
{
 color:white ;
 background:green;	
 border-radius:8px;
 -webkit-border-radius:8px;
 -moz-border-radius:8px;
 box-shadow: 7px 6px 15px #333;

}

table.color_line tr:nth-child(2n+1) td {
    color:Peru ;
    background:silver;
	 border-radius:8px;
    -webkit-border-radius:8px;
	-moz-border-radius:8px;
}  

.color_line { position:absolute; z-index:2;  left:310px;  right:40px; top:114px;    height:490px; width:500px;   
              overflow:  auto; 
			  white-space:nowrap;
			  display: block;  
			}

/*  Reduction hauteur table d'affichage resultat(lectureBD2.php)suite à une action sur le moteur de recherche de la page d'accueil*/
.color_line_short { position:absolute; z-index:2;  left:310px;  right:40px; top:114px;    height:60px; width:523px;   
              /* Pour limiter lataille du conteneur overflow:  auto; sinon il va s'adapter à la taille du contenu */ 
			  background-color: #e5eecc;
			  white-space:nowrap;
			   
			  box-shadow: 1px 1px 0px 0px green;
			  -moz-box-shadow: 1px 1px 0px 0px green;
			  -webkit-box-shadow: 1px 1px 0px 0px green;
			
			  /* Pour adapter  la taille de la table à son div conteneur i fo retirer   display: block; */ 
			}
  
input ,select {
   border-radius:4px;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   -khtml-border-radius:4px;
   width:155px;
   
   	/*transform: rotate(-1deg);*/
	/*box-shadow: 7px 6px 15px #333;  /* box-shadow: 7px 6px 15px #333;  */       
    /*maxlength:100;*/
} 


button      {
	border-radius:4px;
    -webkit-border-radius:4px;
	-moz-border-radius:4px;
   	/*transform: rotate(-1deg);*/
	box-shadow: 1px #333; /*ct  7px 6px 15px #333;*/   /* box-shadow: 1px #333;  */     
}
/* le texetarea de la page d'authentification */
.t_area{
	    border-radius:15px;
       -webkit-border-radius:15px;
	   -moz-border-radius:15px;
	   -khtml-border-radius:15px;
        text-align:center;
        color:  #ffffff;   
        font-family: "Times New Roman", Georgia, Serif;  /*Arial, Geneva, sans-serif; */
		Font-Weight: Bold;
		font-size: 12px;
        padding:10px;
        background-color: silver;   /* #93A299;  #434543  silver #beae8c;   #1D702D;  #99993F; #e5eecc;  */
		           
        /* Effet creux */
        box-shadow:
        0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
        0px 2px 2px 0px rgba(255, 255, 255, 0.5);
		
		/* Pour internet Explorer, un scroll bar s'invite dans le textarea, et donc je le ainsi:*/
		overflow: auto;

}


.rappel  { /* modifier_.php */
         z-index:1;
         position:absolute;
		 bottom:10px;
		 left:2px;
	
}

/****************************************************************************************************************
*
*       SUPPORT SILVER ( 4 panneaux horizontal en dessous des tables de saisie  )
*
****************************************************************************************************************/	
	
.closeUpperMargin  {  
			background: silver; 
			position:absolute;  left:12.3%;  margin:10px;  width:73%; height:10%; 
			top:-3.3%; /* top:-30px;  top:-3.3%; */
			z-index:1;  
			-webkit-border-radius:0px; 
	
				
			box-shadow:
			0px 2px 2px 0px rgba(0, 0, 0, 0.5),
			0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
            
			
}
	

.hollowTop  { /* EFFET CREUX */  /* sous le drapeau. cï¿½d contient le drapeau */ 
			
			background: silver; /* #93A299;  silver; #e5eecc;  #1D702D;  */ 
			position:absolute; top:1px; left:12.3%;  margin:10px ;    padding:0px;   width:73%; height:12%;  /* height:75px; */  
			z-index:3; /* POUR OBTENIR LE PANNEAUDE DROITE EN ENTIER(version2): z-index:2; */
			border-radius:20px;
			/* EFFET CREUX */
			box-shadow:
			0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
			0px 2px 2px 0px rgba(255, 255, 255, 0.5);
			padding:0px;

}

.hollowBottom  { 
			  background: silver;  /* #93A299; #e5eecc;  #1D702D; */ 
			  position:absolute;  left:12.3%; top:41.6%; margin:10px;  width:73%;  /* left:165px; left:12.3%; top:260px;  top:41.6%; height:400px;  */
			  border-radius:20px;
			  z-index:2;
			/* EFFET CREUX */
				box-shadow:
				0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
				0px 2px 2px 0px rgba(255, 255, 255, 0.5);
				padding:0px;
			/* EFFET RELIEF
				box-shadow:
				0px 2px 2px 0px rgba(0, 0, 0, 0.5),
				0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
			*/ 
			 top:41.6%;   /* top:41.6%;  */
			 height:64%;  /* height:64%;   */
             bottom:2%;	  /* bottom:2%;  */	
}

.closeLowerMargin {
	    background: silver; /* #e5eecc;  #1D702D; #99993F; silver; */
		position:absolute;  left:12.3%;  margin:10px;  width:73%; height:104%; z-index:1; /* height:98.5%; ct top:60px;  border-radius:20px; left:165px; height:615px; height:98.5%;*/
		top:11%; height:104%; /* top:11%; height:104%; */
		border-radius:0px;
		box-shadow:
		0px 2px 2px 0px rgba(0, 0, 0, 0.5),
		0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;  
}

/*
.openLowerMargin  {
	    background: silver; 
		position:absolute;  left:165px;  margin:10px;  width:73%; height:615px; z-index:1; 
		top:60px;
		border-radius:0px;
		box-shadow:
		0px 2px 2px 0px rgba(0, 0, 0, 0.5),
		0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;  
}
*/


.line1 {
	    background: silver; /* #e5eecc;  #1D702D; background: silver;*/ 
		position:absolute; left:12.3%;   top:14%;  width:73%; margin:10px; z-index:1; /* #e5eecc;  #1D702D;  left:165px;  top:110px;  */ 
		border-radius:20px;
		box-shadow:
		0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
		0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}
.line2 {
	    background: silver; /* #e5eecc;  #1D702D; background: silver;*/ 
		position:absolute; left:12.3%;   top:27%;  width:73%; margin:10px; z-index:1; /* #e5eecc;  #1D702D;  left:165px;  top:110px;  */ 
		border-radius:20px;
		box-shadow:
		0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
		0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}
.line3 { 
		background: silver;  /* #e5eecc;  #1D702D; */ 
		position:absolute; left:12.3%;  top:40%;  width:73%; margin:10px; z-index:1; /* top:244px; */ 
		border-radius:20px;
		box-shadow:
		0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
		0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}

/*
.line2 {
		background: silver; 
		position:absolute; z-index:1; top:180px; left:165px; width:73%; margin:10px; 
		border-radius:20px;
		box-shadow:
		0px 2px 2px 0px rgba(0, 0, 0, 0.5),
		0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}
*/


/****************************************************************************************
*
*       CONTENUS SUR LE SUPPORT Silver( drapeau , text, 3 tables de saisie, menu )
*
*****************************************************************************************/

/* LE flag defini le style du drapeau national ( mis en lieu et place du logo  */

/* Hack CSS pour IE5 et IE6   */
 *  html .flag {
        border-radius /*\**/:20px 0px 0px 20px\9;
		-webkit-border-radius: 20px 0px 0px 20px;
		-moz-border-radius: 20px 0px 0px 20px;
		-khtml-border-radius: 20px 0px 0px 20px;
	}
/* Hack CSS pour IE7   */
 *+html .flag {
        border-radius /*\**/:20px 0px 0px 20px\9;
		-webkit-border-radius: 20px 0px 0px 20px;
		-moz-border-radius: 20px 0px 0px 20px;
		-khtml-border-radius: 20px 0px 0px 20px;
	}
/* Hack CSS pour IE8 et IE9   */
.flag {
        border-radius /*\**/:20px 0px 0px 20px\9;
		-webkit-border-radius: 20px 0px 0px 20px;
		-moz-border-radius: 20px 0px 0px 20px;
		-khtml-border-radius: 20px 0px 0px 20px;
	}
/* IE10 and other browser   */
.flag {
        border-radius:20px 0px 0px 20px;
		-webkit-border-radius: 20px 0px 0px 20px;
		-moz-border-radius: 20px 0px 0px 20px;
		-khtml-border-radius: 20px 0px 0px 20px;
	/* la ligne suivante permet de supprimer la marge entre le drapeau et son contEneur */
	/* margin:-2px -3px -3px -3px; */       /* Oui! mais je vire cette instruction parce que je prefere garder la marge*****/
	}

/****************************************************************************************************************
*
*                                      LES 3 TABLES DE SAISIE et leur conteneur
*
****************************************************************************************************************/


/* conteneur des 3 panneaux verticaux: .tablegauche ,.tablecentre ,.tabledroite */

.centrer
{
  position: absolute;
    left: 5%;  /* 27.98%; 5%;   */
	padding-left:0px;
    top:  8.5%;  /*  top:  8.5%;   */
	bottom:2%;
	 
	text-align:center;
	float:left;
	
	width:80%;
	
	
	
	
	
}

/****seulement pour Firefox et Netscape  mais ça marche pas ******************
html:not([lang*=“”]) .centrer { position: absolute; top:48px; }  
*****************************************************************************/

/* support des panneaux - "les matelas" ou "les savons" ... tu les apl comme tu veux! */
.tablegauche
{
  position:absolute; left:10.2%; width: 25%;
  top: 228px; height:677px; /*  test fait avec une resolution FHD: 1920x1080 px  */    
  border-radius:20px 0px 0px 20px;
	-webkit-border-radius: 20px 0px 0px 20px;
	-moz-border-radius: 20px 0px 0px 20px;
	-khtml-border-radius: 20px 0px 0px 20px;
  box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47;
  -webkit-box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47;
  -moz-box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47;
  z-index:2;
  /* border: 3px solid #e5eecc; */
}


.tablecentre
{
  position:absolute; left:35.5%;   width:18%; 
  top:-17px;  height:1042px; max-height:1042px; padding-top: 55px;   /*   Test fait en FHD: 1920x1080 px */
  border-radius:0;
  box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47; 
  -webkit-box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47;
  -moz-box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47;
  z-index:2;
  /* border: 3px solid #e5eecc; */     
}
.tabledroite { /* valable pour acueil.php, ecritureBD.php , et ecritureBD.php */

  position:absolute; left:54%;   width:47.3%; 
  top:-17px;  height:1042px; /* |  Test fait en FHD: 1920x1080 px  */  
  border-radius:0px 0px 20px 0px;
   	-webkit-border-radius: 0px 0px 20px 0px;
	-moz-border-radius: 0px 0px 20px 0px;
	-khtml-border-radius: 0px 0px 20px 0px;
  box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47; 
  -webkit-box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47;
  -moz-box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47;
  z-index:2;
  /* border: 3px solid #e5eecc; */  
}


.tabledroiteresultat{ /* lectureBD.php et lectureBD2.php */
  position:absolute; left:100px;  top:-16px; z-index:2; height:606px; width:570px;/* ct width:550px; */
  box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47; 
}





#login_:hover , #pswd_:hover  { background-color: #1D702D; color:#ffffff; font-size: 17px; font-weight:bold;    box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset, 0px 2px 2px 0px rgba(255, 255, 255, 0.5); }
#valider_:hover { color: #1D702D; font-weight:bold; font-size: 20px; font-style: italic;}
#recherchenum, #recherchenom { background-color: #e5eecc; }
#recherchenum:hover, #recherchenom:hover { background-color: #cdbe7f; color:green; font-size: 17px; font-weight:bold;  box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset, 0px 2px 2px 0px rgba(255, 255, 255, 0.5);}

.listemenu{
text-align: left;
line-height: 1.8;

color: black; //white avec white , c vraiment chic et classe , mais pas assez visible.
text-shadow: 2px 2px #beae8c;

}

/*
a.nouveaudocument:hover , .listdocument:hover { background-color: green; color:green ;    }

   un effet creux sur les items menu central au survol de la souris
   -> J'obtients plutôt un effet cube, mais je prends car je le trouve original   
*/
 
 
 
 
.nouveaudocument , .listdocument { display:block; float:left; margin-left:20px; }
.nouveaudocument { border-bottom: outset 0px #e5eecc; }

 
input#nouveaudocument , #listdocument  { background-color:#e5eecc; }

input#nouveaudocument:hover , #listdocument:hover  { 
            color:green ; 
		    padding-top:1%; padding-bottom:1%; 
			background-color: #cdbe7f;  position:relative; 
            border-radius:2px;
			-webkit-border-radius:2px;
			-moz-border-radius:2px;
			-khtml-border-radius:2px;
			
            box-shadow:
                0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
                0px 2px 2px 0px rgba(255, 255, 255, 0.5);
} 


div#commandePanel {height:30px;}

 
//22.12.15 JE T'AIME MOI AUSSI(sab à konaté 0634251545)

/*Styles de la page lectureBD_menu( appelee par le bouon Liste acte de naissance de la page d'accueil)*/
 

/*PANEAU DE GAUCHE */ 

/*PANEAU DE DROITE */  


		

			
